body {
    font-family: sans-serif;
    margin: 3%;
    background-image: url(./Gemini_ambiente-mascotas-programacion.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    justify-content: center;
    text-align: center;
}
h1 {
    font-size: clamp(2rem, 4vw, 5rem);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    border-radius: clamp(0.5rem, 1vw, 1rem);
    width: auto;
    display: inline-block;
    padding: clamp(0.2rem, 1vw, .5rem);
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: bolder;
}
nav ul {
    display:flex;
    gap: clamp(1rem, 4vw, 3rem);
    width: auto;
    background-color: rgba(255, 255, 255, 0.7);;
    border-radius: clamp(0.5rem, 1vw, 1rem);
    border: 1px solid black;
    padding: clamp(0.2rem, 1vw, .5rem);
    margin: clamp(1rem, 2vw, 2rem);
    list-style: none;
}
nav li {
    text-align: center;
}
nav a {
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 2rem);
    color: purple;
    transition: 0.2s;
    display: inline-block;
}
a:hover {
    color:blue;
    text-decoration: underline;
    transform: scale(1.1);
}

.about-me {
    border: 1px solid black;
    border-radius: clamp(0.5rem, 1vw, 1rem);
    margin-top: clamp(1rem, 2vw, 2rem);
    padding: clamp(0.5rem, 1vw, 1rem);
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    font-weight: bolder;
    font-size: clamp(1rem, 1.3vw, 2rem);
}

.projects {
    border: 1px solid black;
    border-radius: clamp(0.5rem, 1vw, 1rem);
    margin-top: clamp(1rem, 2vw, 2rem);
    padding: clamp(0.5rem, 1vw, 1rem);
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.contact {
    border: 1px solid black;
    border-radius: clamp(0.5rem, 1vw, 1rem);
    margin-top: clamp(1rem, 2vw, 2rem);
    padding: clamp(0.5rem, 1vw, 1rem);
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    font-size: clamp(1rem, 1.5vw, 2rem);
}
h2 {
    text-align: center;
}
form {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}
.contact input {
    flex: 1;
    min-width: auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
button {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    flex-shrink: 0;
    cursor: pointer;
    letter-spacing: 2px;
}

/* Emplee funciones de medida como el clamp(rem, vw, rem) para ajustarme en cierto rango al posible cambio de tamaño en la pagina web
Usee display: inline-block para que los margenes de los textos se pegaron al espacio ocupado al escribir, tambien para que se pudiera aplicar
los efectos mediante hover a las etiquetas <a>